<!DOCTYPE html>
<html>
	<head>
		<title>XML Engine &middot; Error 500</title>
		<meta http-equiv="content-type" content="text/html;charset=ISO-8859-1" />
		<link rel="stylesheet" type="text/css" href="../resources/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../resources/css/jquery-ui-1.8.17.custom.css" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
		<link rel="icon" type="image/png" href="../resources/img/mtv1.png"/>
	</head>
	<body>
		<div id="wrapper">
			<div id="main-info" class="ui-dialog ui-widget ui-widget-content ui-corner-all">
				<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
					<span id="ui-dialog-title-notice" class="ui-dialog-title">Error 500</span>
					<a href="index.php" title="Search" class="logo"><img src="../resources/img/info.png" width="24px" alt="!!!" /></a>
					<div class="clearfix"></div>
				</div>
				<p>Server Error</p>
				<a href="index.php" title="Search" class="logo"><img src="../resources/img/back.png" width="24px" alt="!!!" /></a>
			</div>
		</div>
		<div id="page" title="500"></div>
	</body>
</html>